# packages installed with package
el-get/
elpa/
auto-save-list/
# varoius backup files
*~
\#*#
\.#*
# compilation output
*.elc
/ede-projects.el
/.smex-items
/site-lisp/lightware
/ac-comphist.dat
semanticdb/
/srecode-map.el
/var
/eshell
/site-lisp/chess-mode
