# packages installed with package
el-get/
elpa/
auto-save-list/
# varoius backup files
*~
\#*#
\.#*
# compilation output
*.elc
/ede-projects.el
/.smex-items
/site-lisp/lightware
/ac-comphist.dat
semanticdb/
/srecode-map.el
/var
/eshell
/tramp
/site-lisp/chess-mode

/palette
/projectile-bookmarks.eld
/undohist
/session.*
/bookmarks
/site-lisp/nxhtml
/site-lisp/evil
/url/
.mc-lists.el
/notes.org
/site-lisp/starttls-0.10/