[submodule "smotitah"]
	path = smotitah
	url = git@github.com:laynor/smotitah.git
[submodule "site-lisp/distel"]
	path = site-lisp/distel
	url = git@github.com:massemanet/distel.git
[submodule "site-lisp/auto-complete-distel"]
	path = site-lisp/auto-complete-distel
	url = git@github.com:rost/auto-complete-distel.git
[submodule "site-lisp/popup"]
	path = site-lisp/popup
	url = git@github.com:laynor/popup-el.git
[submodule "site-lisp/jedi-eldoc"]
	path = site-lisp/jedi-eldoc
	url = git@github.com:emacsmirror/jedi-eldoc.git
[submodule "site-lisp/enotify"]
	path = site-lisp/enotify
	url = git@github.com:laynor/enotify.git
[submodule "site-lisp/emacs-clang-complete-async"]
	path = site-lisp/emacs-clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "site-lisp/ipa"]
	path = site-lisp/ipa
	url = git://github.com/idomagal/ipa.el.git
