[submodule "smotitah"]
	path = smotitah
	url = git@github.com:laynor/smotitah.git
[submodule "site-lisp/distel"]
	path = site-lisp/distel
	url = git@github.com:massemanet/distel.git
[submodule "site-lisp/auto-complete-distel"]
	path = site-lisp/auto-complete-distel
	url = git@github.com:rost/auto-complete-distel.git
[submodule "site-lisp/popup"]
	path = site-lisp/popup
	url = git@github.com:laynor/popup-el.git
[submodule "site-lisp/jedi-eldoc"]
	path = site-lisp/jedi-eldoc
	url = git@github.com:emacsmirror/jedi-eldoc.git
[submodule "site-lisp/enotify"]
	path = site-lisp/enotify
	url = git@github.com:laynor/enotify.git
[submodule "site-lisp/emacs-clang-complete-async"]
	path = site-lisp/emacs-clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "site-lisp/ipa"]
	path = site-lisp/ipa
	url = git://github.com/idomagal/ipa.el.git
[submodule "site-lisp/melpa-upstream-visit"]
	path = site-lisp/melpa-upstream-visit
	url = git@github.com:laynor/melpa-upstream-visit.git
[submodule "site-lisp/rainbow-mode"]
	path = site-lisp/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
[submodule "site-lisp/dollaro"]
	path = site-lisp/dollaro
	url = git@github.com:laynor/dollaro.git
[submodule "site-lisp/outorg"]
	path = site-lisp/outorg
	url = git@github.com:tj64/outorg.git
[submodule "site-lisp/outshine"]
	path = site-lisp/outshine
	url = git@github.com:tj64/outshine.git
